#OurStory {
  padding: 100px 0;

  .container {
    .row {
      .col-md-6 {
        .quote {
          color: $paragraphColor;
          margin: 0.5rem 0 3rem;

          strong {
            font-weight: 700;
            color: $black;
          }
        }

        .reserve-btn {
          font-family: $displayFont;
          padding: 20px 40px;
          display: inline-block;
          border: 1px solid $black;
          text-align: center;
          text-decoration: none;
          color: $black;
          text-transform: uppercase;
          margin: 40px 0;
          transition: all 0.5s ease-in-out;

          &:hover {
            background: $red;
            color: white;
          }
        }

        .video-img {
          max-width: 400px;
          height: 550px;
          background: linear-gradient(
            135deg,
            rgba(0, 0, 0, 0.9) 0,
            #002d77 100%
          );
          background-image: linear-gradient(
              135deg,
              rgba(0, 0, 0, 0.2) 0,
              #000 100%
            ),
            url("https://images.pexels.com/photos/2237189/pexels-photo-2237189.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
          background-position: center;
          background-size: cover;
          margin: 0 auto;
          background-position: right;
        }
      }
    }
  }
}
